# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles

# Database files
db.sqlite3
*.db

# env files
.env
.env.local
.env.*.local

# VSCode
.vscode/

# macOS
.DS_Store

# Secrets and credentials
secrets.json
private_key.pem

# Windows
Thumbs.db

# JetBrains
.idea/

# Byte-compiled / optimized / DLL files
#*
